workshop01/.terraform
workshop01/terraform.tfvars
workshop01/terraform.tfstate
workshop01/terraform.tfstate.backup
workshop01/.terraform.lock.hcl
day01/terraform.tfstate.backup
day01/.terraform
day01/.terraform.lock.hcl
day01/terraform.tfstate
workshop02/.terraform
workshop02/.terraform.lock.hcl
workshop02/terraform.tfstate
workshop03/build/setup/.terraform
workshop03/build/setup/.terraform.lock.hcl
workshop03/build/setup/terraform.tfstate
workshop03/build/setup/terraform.tfvars.json
